<div class="introtext">
    <h1>Intro text</h1>
    <h3>Welcome to our Health Club Web App, where your journey to fitness begins with just a click! Our innovative platform offers you a seamless experience to manage your fitness schedule, make appointments, and connect with our expert trainers.

        Discover the convenience of booking your appointments from anywhere, anytime. Whether you're planning your next workout session or scheduling a one-on-one session with our certified trainers, our intuitive interface makes it effortless.
        
        Take control of your fitness goals by exploring our wide range of available appointments. From group classes to personalized training sessions, we cater to every fitness need and preference.
        
        Interested in maximizing your workout potential? Apply for a dedicated trainer who will tailor a fitness plan to suit your individual goals and lifestyle. Our team of experienced trainers is here to guide and motivate you on your journey to a healthier lifestyle.
        
        With our Health Club Web App, achieving your fitness aspirations has never been easier. Get ready to elevate your fitness experience and embark on a path to wellness like never before!</h3>
</div>
<div>
    <button (click)="navpage()">Apply For Trainer</button>
</div>