<div class="introtext">
    <h1>Intro text</h1>
    <h3>Welcome to our Health Club Web App, where your journey to fitness begins with just a click! Our innovative
        platform offers you a seamless experience to manage your fitness schedule, make appointments, and connect with
        our expert trainers.
        Discover the convenience of booking your appointments from anywhere, anytime. Whether you're planning your next
        workout session or scheduling a one-on-one session with our certified trainers, our intuitive interface makes it
        effortless.
        Take control of your fitness goals by exploring our wide range of available appointments. From group classes to
        personalized training sessions, we cater to every fitness need and preference.</h3>
    <div>
        <button (click)="navpage()">Apply For Trainer</button>
    </div>
</div>